<% content_for(:title, "Home | @ThePark!") %>
<div class='container'>
  <div class="row">
    <div class='col-md-4 col-md-offset-2'>
      <ul>
        <% @parks.all.each do |park| %>
          <li><%= link_to "#{park.name}", "/parks/#{park.id}" %></li>
        <% end %>
      </ul>
      <% if can? :create, @park %>
        <p><%= link_to "Create Park", new_park_path, class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <div class='col-md-6'>
      <h2></h2>
      <ul class="circle-grid">
        <% @users.all.each do |user| %>
          <li><%= link_to(image_tag(user.avatar.url(:teeny), class: 'img-circle'), user_path(user)) %></li>
        <% end %>
      </ul>
      <ul class="circle-grid">
        <% @users.all.each do |user| %>
          <% user.dogs.each do |dog| %>
            <li><%= link_to(image_tag(dog.headshot.url(:teeny), class: 'img-circle'), user_dog_path(user, dog)) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
