<% content_for(:title, "Home | @ThePark!") %>
<div class='container'>
  <div class="row">
    <div class='col-md-3 col-md-offset-3'>
      <h2>Parks</h2>
      <ul>
        <% @parks.all.each do |park| %>
          <li><%= link_to "#{park.name}", "/parks/#{park.id}" %></li>
        <% end %>
      </ul>
      <% if can? :create, @park %>
        <p><%= link_to "Create Park", new_park_path, class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <div class='col-md-6'>
      <h2>Users</h2>
      <ul>
        <% @users.all.each do |user| %>
          <li class="object-list"><%= link_to( image_tag(user.avatar.url(:tiny)), user_path(user), class: 'img-circle') %><%= link_to "#{user.name}", "/users/#{user.id}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
