<% content_for(:title, "Home | Who's at the Park?") %>
<div class='container'>
  <div class='row'>
    <div class="col-md-12">
      <h1>Who's at the Park?</h1>
    </div>
  </div>
  <div class="row">
    <div class='col-md-6'>
      <h2>Parks</h2>
      <ul>
        <% @parks.all.each do |park| %>
          <li><%= link_to "#{park.name}", "/parks/#{park.id}" %></li>
        <% end %>
      </ul>
      <%= link_to "Create New", "/parks/new", class: "btn btn-info" %>
    </div>
    <div class='col-md-6'>
      <h2>Users</h2>
      <ul>
        <% @users.all.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
      <%= link_to "Create New", "/users/new", class: "btn btn-info" %>
    </div>
  </div>
</div>
