<% content_for(:title, "Parks | @ThePark!") %>

<div class='container'>
  <div class="row">
    <div class='col-md-6'>
      <h2>Current Parks</h2>
      <ul>
        <% @parks.all.each do |park| %>
          <li><%= link_to "#{park.name}", "/parks/#{park.id}" %></li>
        <% end %>
      </ul>
      <%= link_to "Create New", "/parks/new", class: "btn btn-info" %>
    </div>
  </div>
</div>
