<% content_for(:title, "New Park | @ThePark!") %>

<div class = "row">
  <div class = "col-md-4">
    <h2>Create park</h2>
    <%= render('layouts/errors', :object => @park) %>
    <%= render('form') %>
  </div>
</div>
