<% content_for(:title, "#{@user.name} | @ThePark!") %>

<div class = "row">
  <div class = "col-md-4">
    <h1>Edit user</h1>
    <%= render('layouts/errors', :object => @user) %>
    <%= render('form') %>
  </div>
</div>
