<% content_for(:title, "New User | @ThePark!") %>

<div class = "row">
  <div class = "col-md-4">
    <h2>Create new user</h2>
    <%= render('layouts/errors', :object => @user) %>
    <%= render('form') %>
  </div>
</div>





