/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

.error_messages {
  color: red;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Permanent Marker', 'cursive';
  font-weight: bold;
  font-size: 80px;
}

.city-name {
  color: #27ae60;
}

a.unstyled-link {
  text-decoration: none;
  color: black;
}

.btn {
  width: 150px;
}

h1 {
  font-family: 'Permanent Marker', 'cursive';
  font-weight: bold;
  font-size: 60px;
}

h2 {
  font-family: 'Permanent Marker', 'cursive';
  font-size: 45px;
}

h3 {
  font-family: 'Permanent Marker', 'cursive';
  font-size: 25px;
}

ul {
  padding: 0;
}

li {
  color: #52B3D9;
  list-style: none;
  font-family: 'Permanent Marker', 'cursive';
  font-weight: bold;
  font-size: 25px;
}

hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 2px;
}
