<div class='row text-center'>
  <div class="col-md-12">
    <h1 class="header"><a href='/' class='unstyled-link'>@ThePark! <span class="city-name">PDX</span></a></h1>
    <ul class="nav-header nav">
        <li><%= link_to "Signup", new_user_registration_path %></li>
        <li><%= link_to "New Park", new_park_path %></li>
        <!-- <li></li> -->
        <!-- <li></li> -->
    </ul>
    <hr>
  </div>
</div>

